<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mat.api.nameResolver">
      <resolver
            impl="com.ssol.mat.ScalaListResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.mat.api.nameResolver">
      <resolver
            impl="com.ssol.mat.ScalaCompilerNameResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.mat.api.nameResolver">
      <resolver
            impl="com.ssol.mat.CompilerSymbolResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.mat.api.nameResolver">
      <resolver
            impl="com.ssol.mat.SourceFileResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.mat.api.nameResolver">
      <resolver
            impl="com.ssol.mat.MapResolver">
      </resolver>
   </extension>

</plugin>
